<table class="table" class="container" class="row">
    <div>
      <a href="/add-products"  class="btn btn-success"  >addproducts</a>
    </div> 
  <thead>
    <tr>
      <th scope="col">sno</th>
      <th scope="col">name</th>
      <th scope="col">discription</th>
      <th scope="col">price</th>
       <th scope="col">img</th>
    </tr>
  </thead>
  <tbody>
      {{#each products}}
    <tr>
      <th scope="row">{{this.colNo}}</th>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
       <td><img style="height: 50px;" src="/datas/{{this._id}}.jpg" alt=""></td>
       <td><a href= "/admin/editproduct/{{this._id}}" class="btn btn-success">edit</a></td>
       <td><a href="/admin/deleteproduct/{{this._id}}" class="btn btn-danger" onclick="return confirm('are you sure')">delete</a></td>
    </tr>
    {{/each}}
   
  </tbody>
</table> 